h2 {
    color: rgb(182, 0, 0);
}

button{
    width: 100%;
}

.navbar {
    background-color: rgb(182, 0, 0);
}

.description {
    border: none;
    background-color: none;
    text-transform: capitalize;
}

.supprimer {
    width: 25px;
    float: right;
}

.image {
    width: 15px;
    height: 15px;
}

